

.line-chart rect {
    fill: #bbbbbb;
}
.line-chart circle {
    fill: white;
}

.tick text, .legend text {
    white-space: pre;
    fill: #767676;
    font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, sans-serif;
    font-weight: 400;
    font-size: 12px;
    cursor: default;
}

.axis path, .axis line {
    stroke: #d3d3d3;
}

.grid .domain {
    stroke: none;
}

.line-chart-title {
    white-space: pre;
    font-size: 28px;
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, sans-serif;
    font-weight: 200;
    fill: #232323;
    cursor: default;
}


.line-chart.tooltip {
    box-shadow: 0 5px 13px -4px #000000c9;
    position: absolute;
    text-align: center;
    min-height: 45px;
    padding: 0;
    font-size: 14px;
    background: white;
    border: solid;
    border-radius: 5px;
    border-color: #bbbbbb;
    border-width: 2px;
    pointer-events: none;
    font-family: helvetica, arial, sans-serif;


    color: rgb(35, 35, 35);
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid #c5c5c5;
    font-family: "Segoe UI", "Helvetica Neue", "Trebuchet MS", Verdana, sans-serif;
}

.line-chart.tooltip:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -12px;
    width: 0;
    height: 0;
    border-right: 12px solid #bbbbbb;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    font-family: helvetica, arial, sans-serif;
}
.line-chart.tooltip:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -9px;
    width: 0;
    height: 0;
    border-right: 9px solid white;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}